@using Eticaret2.Models
@model IEnumerable<KullaniciSiparis>
@{
    ViewBag.Title = "SiparisDurum";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@if (Session["Email"] != null)
{
    <h2>Siparişlerim</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Sipariş No</th>
                <th>Sipariş Tarihi</th>
                <th>Toplam Tutar (₺)</th>
                <th>Sipariş Durum</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.SiparisNo</td>
                    <td>@item.SiparisTarihi</td>
                    <td>@item.ToplamTutar (₺)</td>
                    <td>@item.SiparisDurum</td>
                    <td> @Html.ActionLink("Sipariş Detay", "Detay", new { id = item.Id }, new { @class = "btn btn-primary" })</td>

                </tr>

            }


        </tbody>
    </table>


}
else
{
    Response.Redirect("/Oturum/Giris");
}